* {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  padding: 0;
  margin: 0;
  transition-duration: 300ms;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  color: "green";
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}

h1 {
  font-size: 3em;
  color: #121212;
}

h2 {
  font-size: 1.5em;
  color: #121212;
}

h3 {
  font-size: 1.17em;
  color: #121212;
}

h4 {
  font-size: 1em;
  color: #121212;
}

h5 {
  font-size: 0.83em;
  color: #121212;
}

h6 {
  font-size: 0.67em;
  color: #121212;
}

p {
  color: #121212;
}

span {
  color: #121212;
}
